@font-face {
    font-family: Fredoka;
    src: url(../assets/Fredoka-VariableFont_wdth,wght.ttf);
}

#passwordTableContainer {
    table {
        width: 90vw;
    }

    th {
        padding: 10px;
        font-weight: 500
    }

    tbody {
        tr:last-child {

            td:first-child {
                input {
                    padding-left: 5px;
                    width: 93%;
                }
            }
        }
    }

    td {
        width: 20%;
        overflow: scroll;
        scrollbar-color: #9DB8F2 #9DB8F2;
        max-width: 0;
        padding: 10px;
    }

    td:has(button) {
        border: none;
    }

    /* prevent buttons from stacking */

    td:has(button) {
        white-space: nowrap;
    }

    input {
        color: #030E26;
        background-color: #CED7F5;
        border: none;
        height: 30px;
        width: 95%;
        margin-left: 2%;
        font-family: inherit;
        font-size: 100%
    }

    input:focus {
        outline: none;
        box-shadow: 0 0 3px 2px #CED7F5
    }


    button {
        border: none;
        color: #030E26;
    }

    .editPasswordRow {
        td:has(input) {
            padding: 0;
        }

    }

    .edit-save-button {
        margin-right: 5px;
        width: 50px;
    }

    .delete-cancel-button {
        width: 60px;
    }

    .strengthCell {
        width: 15%;
        white-space: nowrap;
    }

}

.warning {
    border: 1px solid #BA4A00;
    margin-bottom: 10px;
    max-width: 650px;
    padding: 10px;

    p {
        margin: 0 10px 0 5px;
        color: #BA4A00;
    }

    .warningIcon {
        display: flex;
        align-items: center;

        img {
            height: 25px;
            width: 25px;
        }

    }

    background-color: #FFA970;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr auto;
}

.warningContainer {
    display: flex;
    justify-content: center;
    margin-bottom: -20px;
}

.mainContainer {
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
}


#newPassword {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 15px;
    height: 50px;
    width: 100px;
    padding: 0;
    margin: 0;
    display: flex;
    user-select: none;

    #plus {
        font-size: 40pt;
        margin-top: -13px;
        margin-left: 8px;
    }

    #new {
        font-size: 20pt;
        margin-left: -5px;
        margin-right: 10px
    }

}

button {
    transition: 75ms;
    background-color: #9DB8F2;
    color: #030E26;
    border: none;
    border-radius: 3px;
    font-family: inherit;
    font-size: 1em;
}

button:hover {
    transition: 100ms;
    scale: 115%;
}

button:active {
    transition: 75ms;
    scale: 100%;
}

h1 {
    font-weight: 500;
    font-size: 27pt;
    margin-bottom: 7px;
}