
#passwordTableContainer {
    table {
        width: 90vw;
    }

    input {
        width: 97%
    }

    td {
        width: 20%;
        overflow: scroll;
        scrollbar-color: #9DB8F2 #9DB8F2;
        max-width: 0;
    }

    td:has(button) {
        border: none;
    }

    /* prevent buttons from stacking */

    td:has(button) {
        white-space: nowrap;
    }


    .editPasswordRow {
        td:has(input) {
            padding: 0;
        }

    }

    .edit-save-button {
        margin-right: 5px;
        width: 50px;
    }

    .delete-cancel-button {
        width: 60px;
    }

    .strengthCell {
        width: 15%;
        white-space: nowrap;
    }

}

.mainContainer {
    margin-top: 7vh;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
}


#newPassword {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 50px;
    margin: 0;
    display: flex;
    user-select: none;
    font-weight: normal;

    #plus {
        font-size: 40pt;
        margin-top: -11px;
        margin-left: 10px;
    }

    #new {
        font-size: 20pt;
        margin-left: -7px;
        margin-right: 10px
    }

}

button {
    transition: 75ms;
}

button:disabled {
    cursor: initial !important; /* remove cursor change over invisible unclickable buttons */
}

button:hover {
    transition: 100ms;
    scale: 115%;
}

button:active {
    transition: 75ms;
    scale: 100%;
}

#header {
    display: flex;
    justify-content: space-between;
}

html, body {
    height: 100%;
}

.login {
    display: flex;
    align-items: center;
}